.title {
	color: #ffffff;
	font-size: 6rem;
	margin-top: 11rem;
	margin-bottom: 1rem;
}

.bodyText {
	color: #ffffff;
	margin-bottom: 3rem;
}
.cardContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 912px;
	margin-top: 2rem;
}
