.navbar {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #555555;
	width: 100%;
	height: 4rem;
	margin: 0;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
